.addScreen{
  display: flex;
  position: absolute;
  justify-content: center;
  flex-direction: column;
  height: 400px;
  width: 15%;
  background: #bbbbbb;
  border-radius: 30px;
  border-style: inset;
  top: 13%;
  z-index: 10000000;
  left: 41%;
}

.midText {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mario {
  height: 20vh;
  width: 8vw;
}

.hidden {
  display: none;
}