.App {
  display: flex;
  flex-direction: column;
  background: url(https://ak2.picdn.net/shutterstock/videos/5861162/thumb/1.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.fight {
  margin: 10vh 0vw 5vh 0vw;
  height: 50vh;
  justify-content: center;
  align-items: center;
  background: #333333;
  box-shadow: 0px 4px 15px 15px #333333;
}

.CharacterFight {
  height: 40vh;
  width: 100vw;
}

.hidden {
  display: none;
}
